body {
  margin: 0%;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #414345, #232526);
  overflow-x: hidden;
  background-position: scroll;
}

div.menu {
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.intro {
  color: grey;
  text-align: center;
}

span.center {
  text-align: center;
  display: block;
}

img.profile-pic {
  width: 26%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 1000px) {
  img.profile-pic {
    width: 100%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

ul.nav {
  margin: 0%;
  padding: 0%;
  list-style: none;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0%;
}

.nav li {
  font-size: 1.2em;
  height: 40px;
  line-height: 40px;
}

.nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  transition: 0.3s background-color;
}

a.kmlink {
  color: orange;
  font-size: 3vw;
}

html.about {
  height: 100%;
}

body.about {
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about h1 {
  color: whitesmoke;
  font-size: 3em;
}

.about p {
  font-size: 1.5em;
  /*color: whitesmoke;*/
  background: linear-gradient(to bottom, white, orange);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.about a:link,
a:visited {
  text-decoration: none;
  color: orange;
}

.about a:hover,
a:active {
  transition: color 0.25s ease-out;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  color: tomato;
}

.skills-body {
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

pre.skills {
  font-size: 1vw;
  /*color: whitesmoke;*/
  background: linear-gradient(to bottom, white, orange);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-align: left;
}

.skills-body h1 {
  color: whitesmoke;
}

pre.cert {
  color: whitesmoke;
  font-size: 1vw;
}

a.verlin:link,
a.verlin:visited {
  color: orange;
  text-decoration: none;
}

a.verlin:hover,
a.verlin:active {
  transition: color 0.25s ease-out;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  color: tomato;
}

.nav a:link,
a:visited {
  color: orange;
}

.nav a:hover,
a:active {
  background-color: orange;
  color: whitesmoke;
}

.nav a.active {
  background-color: rgb(212, 144, 18);
  color: whitesmoke;
  cursor: default;
}
